@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

@font-face {
    font-family: 'Shabnam';
    src: url('../font/Shabnam-FD.eot'), url('../font/Shabnam-FD.ttf') format("truetype"), url('../font/Shabnam-FD.woff') format("woff");
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Shabnam';
    margin: 0;
    padding: 0;
    background-color: #F5F5F5 !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

.button {
    border: none;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    padding: 15px 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(#D4AF37), to(#C3962F));
    background: linear-gradient(180deg, #D4AF37, #C3962F);
    -webkit-box-shadow: 0 2px 5px #00000063;
    box-shadow: 0 2px 5px #00000063;
    margin: 20px 0;
}

.button:hover {
    background-color: #E2C155;
    -webkit-box-shadow: 0 2px 5px #00000013;
    box-shadow: 0 2px 5px #00000013;
    -webkit-transition: .5s;
    transition: .5s;
    outline: none;
    cursor: pointer;
}

.button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* navbar */

.navbar-toggler {
    display: none !important;
}

.logo {
    position: absolute;
    right: 15px;
    top: 10px;
}

.search-container input {
    display: none;
    position: absolute;
    left: 110px;
    top: 10px;
    color: #fff;
    z-index: 10;
}

.btn-account {
    position: absolute;
    left: 20px;
    top: 10px;
}

.btn-search {
    position: absolute;
    left: 65px;
    top: 10px;
}

.logo img {
    width: 4rem;
}

.navbar li a:hover,
.navbar li a:active {
    color: #daa520 !important;
}

#active {
    color: #daa520 !important;
    border-top: 2px solid #daa520;
    border-bottom: 2px solid #daa520;
}

.navbar {
    width: 100%;
    background-color: transparent !important;
    padding: 0 !important;
    z-index: 9999999999;
}

header i {
    color: #fff;
    font-size: 1rem;
}

header button,
header input {
    background-color: #daa520;
    border-radius: 5px;
    padding: 10px 12px;
    border: none;
}

.navbar li a i {
    font-size: 0.8rem;
    color: #ccc;
}


.btn-search:focus,
.btn-search:active,
.btn-account:focus,
.search-container input:focus,
.navbar-toggler:focus {
    outline: none !important;
}

.btn-account:hover,
.btn-search:hover {
    background-color: #F4F4F4;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

.btn-account:hover i,
.btn-search:hover i {
    color: #3A3A3A;
}

nav {
    direction: rtl;
    text-align: center;
}

#navbarContent {
    text-align: center !important;
    margin: 10px auto 0;
}

nav ul {
    margin: 0 auto;
}

.nav-link {
    color: #fff !important;
}

nav ul li:active,
.dropdown-item:active {
    background-color: transparent;
}

.dropdown ul {
    text-align: center;
}

.dropdown-submenu {
    position: relative;
    text-align: center;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
}

/*******************************/
/*        CONTACT FORM         */
/*******************************/
body {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.6))), url(../image/restaurant-bg.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../image/restaurant-bg.jpg);
    background-size: cover;
    background-position: top;
}

.contact-section {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin: 20vh auto;
}

.paragraph {
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 2vh auto;
}

.contact-us {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.185);
    width: 100%;
    border-radius: 8px;
    margin-top: 8vh;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    -webkit-box-shadow: 2px 2px 40px #000;
    box-shadow: 2px 2px 40px #000;
    padding: 10vh 0;
}

section h2 {
    display: inline-block;
    font-size: 1.4rem;
    color: #daa520;
}

.form-margin {
    margin-top: 40px;
}

.contact-section form input,
.contact-section form textarea {
    border-radius: 5px !important;
    color: #000;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
    color: #d3d3d3 !important;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
    color: #d3d3d3 !important;
}

form input::placeholder,
form textarea::placeholder {
    color: #d3d3d3 !important;
}

.form-control:focus,
textarea:focus,
.form-control:active,
textarea:active {
    border: 2px solid #daa520;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn {
    padding: 10px 50px;
    margin-bottom: 50px;
}

.btn:focus,
.btn:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*validation css*/
input.ng-valid {
    background-color: #dff0d8;
}

input.ng-invalid {
    background-color: #f2dede;
}

input.ng-pristine {
    background-color: white;
}

textarea.ng-invalid {
    background-color: #f2dede;
}

textarea.ng-pristine {
    background-color: white;
}

textarea.ng-valid {
    background-color: #dff0d8;
}

.list {
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    background: #daa520;
    font-size: 30px;
    position: relative;
    padding-top: 2px;
    cursor: pointer;
}

.list__item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 1;
}

.list__item:hover::before {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.list__item:hover .list__item-link {
    color: #daa520;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.list__item-link {
    position: relative;
    z-index: 5;
    color: #fff;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/*******************************/
/*            FOOTER           */
/*******************************/
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-logo {
    width: 50%;
    background-color: #daa520;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-logo img {
    width: 100px;
    height: 100px;
    margin-top: 40px;
}

.footer-logo .footer-about {
    width: 40%;
    text-align: right;
    padding: 20px 0;
    font-size: 1rem;
}

.footer-about p {
    color: #fff;
}

.footer-about i {
    opacity: 0.4;
}

.footer-links {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #c3962f;
}

.footer-main,
.footer-reserve {
    width: 50%;
    text-align: right;
}

.footer-main {
    padding-right: 3rem;
}

.footer-main .heading,
.footer-reserve .heading {
    color: #E5C470;
    font-size: 1.2rem;
    margin: 40px 0 20px;
}

.footer-main ul li a,
.footer-reserve ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.678);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.footer-main ul li a:hover,
.footer-reserve ul li a:hover {
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.footer-main ul li,
.footer-reserve ul li {
    list-style: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 0.5rem;
}

.footer-main p {
    color: #fff;
    margin-top: 60px;
}

.social-icons {
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 10px;
    background-color: #daa520;
    border-radius: 40px;
}

.social-icons a {
    font-size: 1.2rem;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    padding-top: 2px;
}

.social-icons li:hover {
    background-color: #E2C155;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    border: none !important;
}

.footer-reserve .button {
    margin-top: 80px;
    font-size: 0.8rem;
}

.copyright {
    display: flex;
    justify-content: space-between;
    color: #daa520;
    font-size: 0.7rem;
    background-color: #3A3A3A;
    text-align: right;
    padding: 10px 14%;
}

.copyright a:link,
.copyright a:visited,
.copyright a:hover {
    color: #daa520;
}

/*animations on scroll*/

.js--wp-1 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animate__animated {
    opacity: 1;
}

/* MEDIA QUERIES */

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .navbar-toggler {
        display: block !important;
        margin: 10px 0 10px !important;
        position: absolute;
        top: 0;
        right: 20px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 2px solid #daa520 !important;
    }

    #navbarContent ul {
        margin-top: 50px;
    }

    .navbar-toggler i {
        font-size: 1.5rem;
        color: #daa520;
    }

    .logo {
        display: none;
    }

    .navbar {
        background-color: #F5F5F5 !important;
    }

    .nav-link {
        color: #3A3A3A !important;
    }
}


@media only screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }

}

@media only screen and (max-width: 767px) {
    .copyright {
        flex-direction: column;
        padding: 10px 8%;
        align-items: center;
    }

    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .list__item {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .footer-logo,
    .footer-links {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .search-container input {
        width: 160px !important;
    }

    .list {
        width: 90%;
    }
}
